### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
*.xml

# Cursor rules should be included in Git
!.cursor/
!.cursor/rules/
!.cursor/rules/*.mdc

# Ignore ets folders and def.json files everywhere
**/ets/
**/def.json